*{
  padding: 0;
  margin: 0;
}


html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
}



.grid {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
          'nav'
          'hover'
          'grid-hello'
          'article'
          'but'
          'underground';
  min-height: 100%;

  background-size: 100%;
  align-items: center;
  font-size: 18px;
  height: 100vh;
  justify-content: center;
  overflow: hidden;
  perspective: 100px;
  position: relative;
  text-align: center;
  transform-style: preserve-3d;

  &:after {
    background: rgba(6,6,6,0.49);
    content: "";
    height: 40rem;
    left: -3%;
    position: absolute;
    right: -5%;
    top: 95%;
    transform-origin: 0 0;
    transform: rotateZ(-2deg);
  }

  &:before {
    animation: fade-slide-down 2s .3s cubic-bezier(0, 0.5, 0, 1) forwards;
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.8)), url("../img/Background_body.jpg")no-repeat bottom;
    background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  @keyframes fade-slide-down {
    0% {
      opacity: 0;
      transform: translateY(-4rem);
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }




  .nav {
    text-align: center;
    grid-area: nav;
    padding: 20px;
    opacity: 0.9;
    font-style: inherit;
    display: inline-block;
    ul {
      li {
        background-color: #46627f;
        padding: 7px;
        margin: 3px;
        opacity: 0.8;
        list-style-type: none;
        display: inline-block;
        margin-left: 15px;
        a{
          text-decoration: none;
          color:floralwhite;
        }
      }
    }
  }

  .grid-hello {
    grid-area: grid-hello;
    color: white;
    text-align: center;
    padding: 20px;
    .photo {
      img {
        border-radius: 125px;
        width: 170px;
        height: 180px;
        opacity: 0.7;
        &:hover,
        &:focus {
          opacity: 1;
          -webkit-transition: opacity 2s;
          transition: opacity 2s;
        }
      }
    }
  }

  .article {
    grid-area: article;
    align-self: start;
    display: inline-block;
    color: floralwhite;
    text-align: center;
    padding-right: 3em;
    padding-left: 3em;
    /**padding-right: 200px;
    padding-left: 200px;*/
    h2 {
      font-weight: 100;
      span {
        font-weight: 400;
      }
    }
    h3 {
      font-weight: 100;
      span {
        font-weight: 500;
      }
    }
  }

  .but {
    grid-area: but;
    align-self: start;
    .button {
      perspective: 1000px;
      display: inline-block;
      width: 10em;
      margin-right: 10em;
      margin-top: 1em;


      /**perspective: 1000px;

      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -10em;
      margin-top: 8em;**/

      .cube {
        color: #ccc;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        transition: all 0.85s cubic-bezier(.17,.67,.14,.93);
        transform-style: preserve-3d;
        transform-origin: 100% 50%;
        width: 10em;
        height: 4em;

        &:hover {
          transform: rotateX(-90deg);
        }
      }

      .side {
        box-sizing: border-box;
        position: absolute;
        display: inline-block;
        height: 4em;
        width: 10em;
        text-align: center;
        text-transform: uppercase;
        padding-top: 1.5em;
      }

      .top {
        background: #fff;
        color: #222229;
        transform: rotateX(90deg) translate3d(0, 0, 2em);

        a {
          text-decoration: none;
          color: #222229;
        }
      }

      .front {
        background: rgba(245, 245, 245, 0.1);
        color: #fff;
        box-shadow: inset 0 0 0 5px #fff;
        transform: translate3d(0, 0, 2em);
      }
    }
  }

  .underground {
    text-align: right;
    color: floralwhite;
    grid-area: underground;
    font-weight: 100;
    padding-right: 20px;
  }




}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 150px auto auto auto 60px;
    grid-template-areas: '. nav nav nav hover'
    'grid-hello grid-hello grid-hello grid-hello grid-hello'
    'article article article article article'
    'but but but but but'
    'underground underground underground underground underground';
  }

}
