* {
  padding: 0;
  margin: 0; }

html,
body {
  font-family: Circe, sans-serif;
  min-width: 320px;
  color: #494949; }
  html .main-header,
  body .main-header {
    background: url("../img/main3.jpg") center no-repeat;
    background-size: cover;
    min-height: 550px;
    position: relative;
    padding-bottom: 10px; }
    html .main-header .navbar,
    body .main-header .navbar {
      background-color: #15263e; }
      html .main-header .navbar #navbarMenu,
      body .main-header .navbar #navbarMenu {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 15px; }
        html .main-header .navbar #navbarMenu ul li + li:before,
        body .main-header .navbar #navbarMenu ul li + li:before {
          content: "- "; }
        html .main-header .navbar #navbarMenu li,
        body .main-header .navbar #navbarMenu li {
          padding: 0 1px 0 2px; }
      html .main-header .navbar .navbar-toggler,
      body .main-header .navbar .navbar-toggler {
        color: #ffffff; }
    html .main-header .navbar-light .navbar-nav .nav-link,
    body .main-header .navbar-light .navbar-nav .nav-link {
      text-align: center;
      color: #ffffff; }
    html .main-header .main-header-text,
    body .main-header .main-header-text {
      padding: 55px 10px 10px 10px; }
      html .main-header .main-header-text .firstname,
      body .main-header .main-header-text .firstname {
        background: linear-gradient(to right, #a21af0 -18%, #f8027e 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 120px;
        line-height: 1; }
      html .main-header .main-header-text .lastname,
      body .main-header .main-header-text .lastname {
        line-height: 0.9;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 87px;
        font-weight: bold; }
      html .main-header .main-header-text h2,
      body .main-header .main-header-text h2 {
        line-height: 1.2;
        text-transform: uppercase;
        font-weight: bold;
        color: #ffffff; }
      html .main-header .main-header-text h3,
      body .main-header .main-header-text h3 {
        line-height: 2.5;
        text-transform: uppercase;
        color: #ffffff;
        letter-spacing: 6.5px; }
      @media (min-width: 320px) {
        html .main-header .main-header-text .firstname,
        body .main-header .main-header-text .firstname {
          font-size: 20.25vw; }
        html .main-header .main-header-text .lastname,
        body .main-header .main-header-text .lastname {
          font-size: 14.45vw; }
        html .main-header .main-header-text h3,
        body .main-header .main-header-text h3 {
          font-size: 2.5vw; } }
      @media (min-width: 589px) {
        html .main-header .main-header-text .firstname,
        body .main-header .main-header-text .firstname {
          font-size: 120.8125px; }
        html .main-header .main-header-text .lastname,
        body .main-header .main-header-text .lastname {
          font-size: 87.8125px; }
        html .main-header .main-header-text h3,
        body .main-header .main-header-text h3 {
          font-size: 19.8125px; } }
    html .main-header .main-header-button,
    body .main-header .main-header-button {
      text-align: center; }
      html .main-header .main-header-button button,
      body .main-header .main-header-button button {
        background: linear-gradient(to right, #a21af0 -18%, #f8027e 50%);
        display: inline-block;
        text-transform: uppercase;
        font-weight: 600;
        color: #ffffff;
        opacity: .7; }
      html .main-header .main-header-button button:hover,
      body .main-header .main-header-button button:hover {
        opacity: 1;
        transition: all .5s; }
  html .section-about-me,
  body .section-about-me {
    padding: 50px; }
    html .section-about-me .container .row .col-md-4 .my-img,
    body .section-about-me .container .row .col-md-4 .my-img {
      text-align: center; }
      html .section-about-me .container .row .col-md-4 .my-img img,
      body .section-about-me .container .row .col-md-4 .my-img img {
        background-size: cover;
        width: 210px;
        height: 411px; }

img {
  max-width: 100%;
  height: auto; }

section {
  padding: 100px 0; }

h3 {
  font-size: 20px; }

h2 {
  font-size: 25px; }

h1 {
  font-size: 50px; }

@media only screen and (max-width: 768px) {
  .my-img img {
    display: none; } }

/*# sourceMappingURL=style.css.map */
