{% extends 'base.html' %}
{% block content %}

    <div class="grid-hello">
        <div class="photo"><img src="static/img/my_photo.png" alt="my_photo"></div>
    </div>
    <div class="article">
        <h2><span class="hvr-buzz">Приветсвую Вас</span>, на своем сайте.</h2>
        <h3>Меня зовут <span class="hvr-buzz">Андрей</span>, я занимаюсь <span class="hvr-buzz">Backend</span> разработкой, версткой сайтов <span class="hvr-buzz">Frontend</span>, а также <span class="hvr-buzz">Дизайном</span> и продвижением сайтов <span class="hvr-buzz">SEO</span>.
            На этом сайте я буду выкладывать свои <span class="hvr-buzz">#Проекты</span>, и паралельно вести дневник, в разделе <span class="hvr-buzz">#Работа</span>, делясь своим опытом. <span class="hvr-buzz">Спасибо за внимание!</span></h3>
    </div>
    <div class="but">
        <div class="button">
            <div class="cube">
                <span class="side top"><a href="#">Спасибо</a></span>
                <span class="side front">Оставить заявку</span>
            </div>
        </div>
    </div>

{% endblock content %}