{% extends 'base.html' %}
{% block content %}
    {% for work in works %}
            <style>
                .article_post {
                    display: grid;
                    color: floralwhite;
                    text-align: left;
                }
            </style>
            <div class="article_post">
                <ul>
                    <li><h2>Наименнование организации: </h2>{{ work.name }}</li>
                    <li>Должность: {{ work.post }}</li>
                    <li>Обязанности: {{ work.responsibility }}</li>
                    <li>Период работы: {{ work.date_work }}</li>
                </ul>
            </div>
    {% endfor %}
{% endblock content %}